.baslık h2 {
    font-size: 30px;
    color: white;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.contact-container {
    max-width: 600px;
    margin: 50px auto;
    background-color: rgb(78, 71, 78, 0.8);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-title {
    color: white;
    text-align: center;
}

.contact-form label {
    display: block;
    margin-bottom: 8px;
    color: white;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 15px;
}

.contact-form button {
    background-color: white;
    color: black;
    padding: 10px 15px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #857e86;
}


.social-media {
    margin-top: 30px;
}

.social-media h3 {
    color: white;
    font-size: 20px;
}

.social-media ul {
    list-style: none;
    padding: 0;
}

.social-media li {
    margin: 10px;
}

.social-media a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    
}

.map {
    margin-top: 30px;
}

.map h3 {
    color: white;
    margin: 10px;
    font-size: 20px;
}

